@font-face {
  font-family: 'HKGrotesk';
  src: url('./assets/fonts/HKGrotesk-Regular.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./assets/fonts/HKGrotesk-SemiBold.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./assets/fonts/HKGrotesk-Bold.otf') format('truetype');
  font-weight: bold;
}

:root {
  --max-width: 1650px;
  --padding: 0.4rem;

  --clr-primary: #250B38;
  --clr-input: #52526A;
  --clr-neutral: #FFFFFF;
  --clr-border: #E8DFED;
  --bg-orange: #F0A023;
  --bg-light-blue: #F4EEF7;

}

.container {
  min-height: calc(100vh - 5rem);
  width: min(var(--max-width), 100% - var(--padding) * 2);
  padding-top: 0.4rem;
  padding-bottom: 5rem;
  margin-inline: auto;
}

.container, .footer {
  font-family: 'HKGrotesk', sans-serif;
}

.receiptContainer {
  margin-bottom: 0.85rem;
}

.header {
  background-color: var(--clr-primary);
  padding: 1rem;
}

.header, select, input, .expensesContainer {
  border-radius: 0.25rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
}

.selections {
  width: 50%;
}

select {
  padding: 0.35rem 0.5rem;
  width: 100%;
}

option:checked { 
  background-color: var(--bg-orange);
  color: var(--clr-neutral);   
}

.expensesContainer {
  margin-top: 0.75rem;
  background-color: var(--bg-light-blue);
  padding-inline: 0.85rem;
}

.expense {
  padding-block: 0.75rem;
  border-bottom: 1px solid var(--clr-border);
}

input {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  color: var(--clr-input);
  border: 1px solid var(--clr-border);
}

input::placeholder {
  opacity: 40%;
}

input[type = 'number'] {
  text-align: end;
  padding-inline: 0.15rem;
}

hr {
  border-top: 1px solid var(--clr-border);
  margin-top: 0.5rem;
}

.totalPrice {
  padding-block: 0.75rem;
  color: var(--clr-primary);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 5rem;
  padding-inline: 1.25rem;
  border-top: 2px solid var(--clr-border);
  background-color: var(--clr-neutral);
}

.price {
  font-size: 1.25rem;
}

.price, span {
  font-weight: bold;
}

.button {
  padding: 0.35rem 1.25rem;
  border-radius: 1.5rem;
  outline: none;
  color: var(--clr-neutral);
  cursor: pointer;
}

.receiptButton {
  background-color: var(--bg-orange);
  font-weight: 500;
  border: none;
}

.expenseButton {
  border: 2px solid var(--bg-orange);
  background-color: var(--clr-primary);
}

.total, option, select {
  color: var(--clr-primary);
}
